{% extends 'layout/email.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<container>  
  <row>
    <p>Bonjour,</p>
    <p>Une réinitialisation du mot de passe a été demandée pour le compte suivant: <b>{{ user_email }}</b></p>
    <p>S'il s'agit d'une erreur, ignorez simplement cet e-mail et rien ne se passera.</p>
    <p>Pour réinitialiser votre mot de passe, visitez le lien suivant:<br><a href="{{ reset_link }}"><b>{{ reset_link }}</b></a></p>
    <p>Cordialement</p>
  </row>
</container>
{% endblock %}

{% block footer %}
<row>
<columns small="12" large="12">
<center>
  <small style="color:#FFF">Place carrée, Mahaj Ryad, Immeuble Business 5, 4ème étage Hay Riad – Rabat</small>
</center>
<center>
  <small><a href="http://www.madaef.ma">www.madaef.ma</a></small> 
  <small style="color:#000"> | </small>
  <small><a href="mailto:contact@madaef.ma">contact@madaef.ma</a></small> 
  <small style="color:#000"> | </small>
  <small><a href="tel:0530574100">0530574100</a></small> 
</center>
</columns>
</row>
{% endblock %}